<button (click)="openFilter()">Filter</button>
<button (click)="openDialog()">ADD</button>
<table mat-table matSort [dataSource]="dataSource" (matSortChange)="sortDataFunc($event)">
  <ng-container *ngFor="let col of ColHeader">
    <ng-container [matColumnDef]="col">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ col }}
      </th>
      <td mat-cell *matCellDef="let element">
        <ng-container *ngIf="col === 'Action'; else elseblk">
          <button (click)="openDialog(element['_id'])">Edit</button>
          <button (click)="DeleteField(element['_id'])">Delete</button>

        </ng-container>
        <ng-template #elseblk>
          {{ element[col] }}
        </ng-template>
      </td>
    </ng-container>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="ColHeader"></tr>
  <tr mat-row *matRowDef="let row; columns: ColHeader"></tr>
</table>


<mat-paginator
  #paginator
  [pageSizeOptions]="pageSize"
  [length]="totalRows"
  showFirstLastButtons
></mat-paginator>
